$color-1: #FF0049;
$color-2: #D6130A;
$color-3: #7366BD;
$color-4: #6FADE3;
$color-fondo: #0C1B48;

$primary: $color-1;
$secondary: $color-2;
$light: #ffffff; // Cambia al color que desees
$dark: #000000; // Cambia al color que desees
